body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-container {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23095455' cx='50' cy='0' r='50'/%3E%3Cg fill='%23005155' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23004d55' cx='50' cy='100' r='50'/%3E%3Cg fill='%23004a55' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23004655' cx='50' cy='200' r='50'/%3E%3Cg fill='%23004355' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23003f54' cx='50' cy='300' r='50'/%3E%3Cg fill='%23003b53' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23003752' cx='50' cy='400' r='50'/%3E%3Cg fill='%23003451' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300304f' cx='50' cy='500' r='50'/%3E%3Cg fill='%23002c4c' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300284a' cx='50' cy='600' r='50'/%3E%3Cg fill='%23032446' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%230b2043' cx='50' cy='700' r='50'/%3E%3Cg fill='%23111b3f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2316173b' cx='50' cy='800' r='50'/%3E%3Cg fill='%231a1236' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%231d0d31' cx='50' cy='900' r='50'/%3E%3Cg fill='%231f072b' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23210026' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
 
}

.card-title {
  text-align: center;
}
.card-text {
  font-family: Arial, sans-serif;
}
.card-container {
  background-color: #771313; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-image {
  max-width: 80px;
  max-height: 80px;
}
.card {
  width: 500px; 
  height: 400px; 
  overflow: hidden; 
}

